[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
coverage = "*"
pycrypcli = "==1.6.2.dev0"
pymysql = "*"
bcrypt = "*"

[dev-packages]
flake8 = "*"

[scripts]
test = "python3 -m unittest discover -v tests"
flake8 = "flake8 . --count --max-line-length=120 --statistics --show-source"
